# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Jupyter / IPython
.ipynb_checkpoints/

# Env files
.env
.venv/
env/
venv/

# VS Code / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Cache
.cache/
*.sqlite3

# Render-specific (optional)
*.bak
tmp/
